Advent of code Day 3:

Part 1:
given a string of binary numbers, figure out which is the most[least] common in each column.  Create a new binary number out of the most[least] common values and convert it to decimal

In [1]:
import pandas as pd

In [5]:
mywidths = [1,1,1,1,1]
digits = pd.read_fwf("day3_sample.txt", widths=mywidths)

digits.head()

    a  b  c  d  e
0   0  0  1  0  0
1   1  1  1  1  0
2   1  0  1  1  0
3   1  0  1  1  1
4   1  0  1  0  1
5   0  1  1  1  1
6   0  0  1  1  1
7   1  1  1  0  0
8   1  0  0  0  0
9   1  1  0  0  1
10  0  0  0  1  0
11  0  1  0  1  0

In [3]:
digits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       12 non-null     int64
 1   b       12 non-null     int64
 2   c       12 non-null     int64
 3   d       12 non-null     int64
 4   e       12 non-null     int64
dtypes: int64(5)
memory usage: 608.0 bytes

In [7]:
jj = digits.sum()

In [22]:
d = {'a': 0, 'b': 0, 'c': 0, 'd':0, 'e':0}
gamma = pd.Series(data=d, index=['a', 'b', 'c', 'd', 'e'])
epsilon = pd.Series(data=d, index=['a','b','c','d','e'])
num_of_elements = len(digits)

for ind in jj.index:
    if jj[ind] > num_of_elements / 2:
        gamma[ind] = 1
    else:
        epsilon[ind]=1
        
gamma

a    1
b    0
c    1
d    1
e    0
dtype: int64

In [23]:
epsilon

a    0
b    1
c    0
d    0
e    1
dtype: int64

In [37]:
def to_decimal(series):
    #print(series['a'])
    my_number = series['a']*2**4 + series['b']*2**3 + series['c']*2**2 + series['d']*2**1 + series['e']*2**0
    return my_number

In [40]:
eps_number = to_decimal(epsilon)
gamma_number = to_decimal(gamma)
power_consumption = eps_number * gamma_number
power_consumption

198

Final input has more columns.  It should totally be possible to make the above flexible for the number of columns, but...  It's only the advent of code -- so let's brute force it abit!

In [41]:
mywidths = [1,1,1,1,1,1,1,1,1,1,1,1]
digits = pd.read_fwf("day3_input.txt", widths=mywidths)

digits.head()

   a  b  c  d  e  f  g  h  i  j  k  l
0  0  0  0  0  1  1  1  1  0  0  1  0
1  0  1  0  0  0  0  1  0  0  1  0  0
2  0  1  0  0  1  1  1  1  1  1  1  1
3  0  0  0  1  0  1  0  0  1  1  1  1
4  0  1  0  1  0  0  0  1  1  1  1  1

In [42]:
jj = digits.sum()

In [45]:
d = {'a': 0, 'b': 0, 'c': 0, 'd':0, 'e':0,'f':0,'g':0,'h':0,'i':0,'j':0,'k':0,'l':0}
gamma = pd.Series(data=d, index=['a', 'b', 'c', 'd', 'e','f','g','h','i','j','k','l'])
epsilon = pd.Series(data=d, index=['a','b','c','d','e','f','g','h','i','j','k','l'])
num_of_elements = len(digits)

for ind in jj.index:
    if jj[ind] > num_of_elements / 2:
        gamma[ind] = 1
    else:
        epsilon[ind]=1
        
gamma

a    1
b    1
c    0
d    0
e    0
f    0
g    1
h    1
i    1
j    1
k    1
l    1
dtype: int64

In [95]:
def to_decimal(series):
    #print(series['a'])
    my_number = series['a']*2**11 + series['b']*2**10 + series['c']*2**9 + series['d']*2**8
    my_number = my_number + series['e']*2**7 + series['f']*2**6 + series['g']*2**5 + series['h']*2**4 
    my_number = my_number + series['i']*2**3 + series['j']*2**2 + series['k']*2**1 + series['l']*2**0
    return my_number

In [54]:
eps = to_decimal(epsilon)
gam = to_decimal(gamma)
power = eps * gam
power

3009600

Part 2 is a bit more fussy...  to get the oxygen rating or each bit we have to identify which is the most common, and then only keep the entries that have that entry.  And repeat until there is only one number left.  To get the CO2 scrubber rating, we have to go through the same process -- only identifying the least common bit at every opportunity.

In [91]:
#starting with the sample...
mywidths = [1,1,1,1,1]
digits = pd.read_fwf("day3_sample.txt", widths=mywidths)


#now with the real file
mywidths = [1,1,1,1,1,1,1,1,1,1,1,1]
digits = pd.read_fwf("day3_input.txt", widths=mywidths)

In [92]:
oxygen = digits.copy()
num_of_elements = len(oxygen)
jj = oxygen.sum()

for ind in jj.index:
    if jj[ind] >= num_of_elements / 2:
        oxygen = oxygen[oxygen[ind]==1]
    else:
        oxygen = oxygen[oxygen[ind]==0]
    print(ind,len(oxygen))
    if len(oxygen)== 1: 
        break
    else:
        jj = oxygen.sum()
        num_of_elements = len(oxygen)
        

print(oxygen)

a 521
b 278
c 145
d 73
e 37
f 20
g 14
h 8
i 5
j 3
k 2
l 1
     a  b  c  d  e  f  g  h  i  j  k  l
280  1  1  1  1  0  1  1  0  0  0  1  1

In [93]:
co2= digits.copy()
num_of_elements = len(co2)
jj = co2.sum()

for ind in jj.index:
    if jj[ind] >= num_of_elements / 2:
        co2 = co2[co2[ind]==0]
    else:
        co2 = co2[co2[ind]==1]
    print(ind, len(co2))
    if len(co2)== 1: 
        break
    else:
        jj = co2.sum()
        num_of_elements = len(co2)
        
print(co2)

a 479
b 228
c 106
d 51
e 23
f 9
g 2
h 1
     a  b  c  d  e  f  g  h  i  j  k  l
779  0  1  1  0  1  1  1  0  0  0  1  0

In [102]:
oxygen_dec = to_decimal(oxygen)
co2_dec = to_decimal(co2)
life_support = oxygen_dec.iloc[0] * co2_dec.iloc[0]

life_support

6940518